server:
  port: 8085
spring:
  application:
    name: diet-tracker
  datasource:
    username: admin
    password: password
    url: jdbc:postgresql://localhost:5434/diet
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: false
    show-sql: true
  zipkin:
    base-url: http://localhost:9411
  rabbitmq: # address for rabbitmq
    addresses: localhost:5672

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true

